<div id="<%= dom_id comment %>">
 

  <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"> <%= comment.author %> </h5>
  </div>
  <p class=""> <%= comment.content %> </p>

 <div class="d-grid gap-2 d-md-flex justify-content-md-end">
         <%= link_to "Edit", edit_post_comment_path(comment.post_id,comment), class: 'btn btn-light' %> 
         <%= button_to "Delete",[comment.post, comment], method: :delete, class: 'btn btn-light' %>
    </div>


</div>

