<%= render @post %>

<div>
  <%= link_to "Edit", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy", @post, method: :delete %>

  Comments:
  <div class="list-group">
    <% @post.comments.each do |comment| %>
     <li class="list-group-item">
      <%= render comment %>
      </li>
    <% end %>
  </div>

  <%= link_to "New Comment", new_post_comment_path(@post) %>

</div>
